* {
  box-sizing: border-box;
}
:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}
html {
  font-size: 62.5%;
}
/* Khôi phục lại cỡ chữ mặc định tính theo rem */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* ===============common============ */
a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0px 16px;
  line-height: 50px;
  color: white;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background-color: #171100;
}

.btn:hover {
  opacity: 0.9;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

/* ===========header============= */
.header {
  background-color: #fffcf4;
}
.header.fixed {
  z-index: 1;
  position: sticky;
  top: -28px;
}
.header .body {
  padding: 36px 0px 8px;
  display: flex;
  align-items: center;
}
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
}
.nav li.active a,
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 1px 0px 0 currentColor;
}
.nav li.active a::after {
  display: block;
  left: 21px;
  bottom: 6px;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: black;
  position: absolute;
}

.header .btn-signUp {
  min-width: 144px;
}
.header .action {
  margin-left: 49px;
}
/* ====hero===== */
.hero {
  padding: 56px 0 65px;
  background-color: #fffcf4;
}

.hero .body {
  display: flex;
}

.hero .media-block {
  position: relative;
  width: 48%;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero .hero-summary {
  background-color: #ffffff;
  position: absolute;
  bottom: 48px;
  right: 0px;
  width: 270px;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0px 16px 32px 0px #0000000d;
}
.hero-summary .item {
  align-items: center;
  display: flex;
}

.hero-summary .item + .item {
  margin-top: 22px;
}
.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}

.hero-summary .icon2 {
  background-color: #fcefff;
}
.hero-summary .icon3 {
  background-color: #ebeaff;
}
.hero-summary .info {
  margin-left: 16px;
}
.hero-summary p.title {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 167%;
}
.hero-summary .label {
  font-size: 1.4rem;
  line-height: 186%;
}

/* bên phải */
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}
.hero .heading {
  font-family: var(--font-heading);
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 1.17;
  letter-spacing: -1.16px;
}

.hero p.desc {
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
  margin-top: 22px;
}

.cta-group {
  display: flex;
  margin-top: 38px;
}

.hero-cta {
  min-width: 180px;
  background-color: var(--primary-color);
  line-height: 64px;
  border-radius: 32px;
}

.hero .watch-video {
  margin-left: 10px;
  align-items: center;
  border: none;
  background-color: transparent;
  display: flex;
  cursor: pointer;
}
.hero .watch-video span {
  color: #171100;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  margin-left: 14px;
}

.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}
.hero p.desc-recent {
  margin-top: 48px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67;
}

.hero p.desc-courses strong {
  margin-right: 15px;
  color: #171100;
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 54px;
}
.hero p.desc-courses {
  margin-top: 8px;
}
.hero p.desc-courses strong:nth-child(2) {
  margin-left: 28px;
}
